.rotate-360 {
    animation: rotate-360 1s linear infinite;
}

@keyframes rotate-360 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes scale-item_taskbar {
    0% {
        transform: scale(0.7);
    }

    100% {
        transform: scale(1);
    }
}

#modal .modal.fadeInFlyInModal {
    animation: fadeInFlyInModal .3s ease forwards;
}

@keyframes fadeInFlyInModal {
    0% {
        top: 45%;
        visibility: hidden;
    }

    100% {
        top: 50%;
        visibility: visible;
    }
}