$color-main : #4255ff;
$color-main-bold : #423ed8;
$color-text : #676a79;
$font-family : 'Montserrat',
sans-serif;
$bg-gray : #eef0f2;
$gray-light : #f6f7fb;
$color-dark-main : #2e3856;
$color-dark-main-bold : #0a092d;

// breakpoint
$breakpoint-sm: 640px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1280px;
$breakpoint-xxl: 1440px;
// breakpoint


:root {
    --font-family: #{$font-family};
    --color-main : #{$color-main};
    --color-text: #{$color-text};
    --bg-gray: #{$bg-gray};
    --gray-light: #{$gray-light};
    --color-main-bold: #{$color-main-bold};
    --color-dark-main: #{$color-dark-main};
    --color-dark-main-bold: #{$color-dark-main-bold};
}