@import "../../sass/mixins.scss";

.header {
    background-color: #ffffff;
    width: 100%;
    padding: 0.4rem 0rem;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 999;

    &__logo {
        width: 13rem;
        padding: 0rem 2rem;
        cursor: pointer;
    }

    &__menu {
        padding: 0rem 3rem;
        display: flex;
        gap: 4rem;

        &>li {
            font-weight: 600;
            position: relative;
            cursor: pointer;
            font-size: 1.4rem;
            display: flex;
            align-items: center;
            gap: 0.5rem;

            & .button_popover {
                display: flex;
                align-items: center;
                gap: 1rem;
            }

            & i {
                font-size: 1.8rem;
            }

            padding: 1.6rem 0rem;
            border-bottom: 0.4rem solid #ffffff;
            border-radius: 0.4rem;

            &.active,
            &:hover {
                border-bottom: 0.4rem solid #a8b1ff;
                border-radius: 0.4rem;
            }

            & .sub,
            & .child {
                &>li {

                    &:hover,
                    &.active {
                        background-color: #f6f7fb;
                    }

                    height: 5rem;
                    padding: 1.2rem;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    &>div {
                        display: flex;
                        gap: 1rem;
                        align-items: center;
                    }
                }
            }

            & .sub {
                flex: 1;
                border-right: 0.1rem solid #cccccc38;
            }

            & .child {
                width: 40%;

                & .all {
                    color: var(--color-main);
                    font-weight: 700;
                }
            }
        }
    }

    &__right {
        flex: 1;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1.2rem;

        &--search {
            width: 65%;

            & input {
                background-color: #f6f7fb;
                border-radius: 100rem;
            }
        }

        &--items {
            padding-left: 2rem;
            flex: 1;
            display: flex;
            align-items: center;
            gap: 1.8rem;

            &>li {
                &:nth-child(1) {
                    & button {
                        width: 4rem;
                        height: 4rem;
                        border-radius: 100rem;

                        & i {
                            font-size: 2.4rem;
                            color: #ffffff;
                        }

                        background-color: var(--color-main);

                        &:hover {
                            background-color: var(--color-main-bold);
                        }

                        @include flexCenter();
                    }

                    & .popover>ul>li {
                        padding: 1rem;
                        display: flex;
                        font-weight: 500;
                        align-items: center;
                        gap: 1rem;
                        font-size: 1.4rem;
                        cursor: pointer;

                        &:hover {
                            background-color: #f6f7fb;
                        }
                    }
                }

                &:nth-child(2),
                &:nth-child(3) {
                    & button {
                        padding: 1.2rem 2rem;
                    }
                }

                &:nth-child(2) button {
                    &:hover {
                        background-color: #f6f7fb;
                    }
                }

                &:nth-child(3) button {
                    background-color: #ffdc62;

                    &:hover {
                        opacity: 0.8;
                    }
                }
            }
        }
    }
}